.image{
    width: 90%;
    height: 70%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url("./VendingMachine1.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}